main {
  background: $white1;

  section {
    h2 {
      font-size: 1.6rem;

      @media screen and (max-width: 1153px) {
        font-size: 1.4rem;
      }
    }

    .intro {
      a {
        color: $color1;
        text-decoration: none;

        &:hover {
          color: $black1;
        }
      }
    }

    .article {
      text-align: justify;
    }

    .conclusion {
      p {
        margin-top: 30px;
      }
    }

    .CTA {
      margin-top: 30px;
      border-top: 1px dotted $color1;

      h2 {
        padding-top: 50px;
      }
      p {
        padding-bottom: 30px;
      }

      button {
        a {
          color: $color1;
          text-decoration: none;
        }
      }
    }

    a {
      p {
        padding-bottom: 15px;
        small {
          font-size: 0.8rem;
        }
      }
    }
  }
}
