//fonts

@font-face {
  font-family: "poppins-regular";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-medium";
  src: url(../fonts/Poppins-Medium.ttf);
}

$font1: poppins-regular, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$font2: poppins-medium, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//colors

$color1: #fa255e;
$color2: #ef94b0;
$black1: #000000;
$white1: #fff;
$text: #333;
$grey1: #f1f1f1;
$blackShadow: rgba(0, 0, 0, 0.25);
$whiteShadow: rgba(255, 255, 255, 0.25);
$gradient1: linear-gradient($color2, $color1);

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: $font1;
  font-size: 1rem;

  @media screen and (max-width: 675px) {
    font-size: 0.9rem;
  }
}

body {
  text-align: center;
  color: $text;

  button {
    background: transparent;
    border: 2px solid $color1;
    border-radius: 150px;
    padding: 5px 20px;
    margin: 30px auto;
    color: $color1;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    a {
      text-decoration: none;
      color: $color1;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color1;
    padding-bottom: 30px;
  }

  h1 {
    font-size: 2rem;
    padding-bottom: 0;

    @media screen and (max-width: 675px) {
      font-size: 1.6rem;
    }
  }

  h2 {
    font-size: 1.5rem;

    @media screen and (max-width: 675px) {
      font-size: 1.3rem;
    }
  }

  h3 {
    font-size: 1.4rem;

    @media screen and (max-width: 675px) {
      font-size: 1.2rem;
    }
  }
}
