#legal {
  text-align: left;

  h2 {
    margin-top: 30px;
  }
  a {
    color: $color1;
    text-decoration: none;

    &:hover {
      color: $black1;
    }
  }

  ul {
    padding: 10px 0;
    list-style-position: inside;
    li {
      color: $text;
    }
  }
}
